
body {
    
    margin: 0;
    padding-left: 0;
    width: 100%;
    min-height: 80vh;
    background-color: #C1BDBD;
}


/* main heading */

.heading-container {

    width: 100%;
    height: auto;
    position: absolute;
    /* background-size: contain; */
}
.background img {
    width: 100%;
}

.heading {
    
    background-color: #00000070;
    position: relative;
    z-index: 2;
    font-weight: 700;
    
}


.heading-left {
    float: left;  
    width: 50%;
}



.main-heading {
    position: absolute;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    left: 15px;
    bottom: 17px;
}

.sub-heading {
    position: absolute;
    top: 31%;
    font-size: 27px;
    color: #fff;
    left: 54px;
    font-weight: 700;

}

/* fixing pointer  position */

.pointer-image {
    left: 166px;
    position: relative;
    top: 16px;
    width: 5%;
}


/* other half of the navbar */

.heading-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly; 
}



.headingcontainer .heading-right {
    float: right;
}




.searchContainer {
    display: inline-flex;
    border-radius: 10px;
    padding: 35px;
}

.searchBox {
    background: transparent;
    border-radius: 10px;
    height: 35px;

}

.searchIcon {
    border: 2px solid black;
    border-left: none;
    border-radius: 3px;
    background: white;
}



.heading-right .popular {

    border-bottom: 2px solid rgb(253, 251, 249);
    color: #fff;
    font-size: 2rem;
    
}

.heading-right .new {
    border-bottom: 2px solid rgb(253, 251, 249);
    color: #fff;
    font-size: 2rem;
    
}


/* popular shows */



 #samebackground {
    
    background-color:#C1BDBD;
    
}

.shows-heading {
    font-size: 40px;
    width: 100%;
    text-align: center;
    
}

hr {
    color:#F5F5F5;
    width: 60%;
    
}


/* movieslists */

.movieslists {
    margin:0;
}

.movie-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding:0;
    width: 90%;
    margin: 50px auto;
}

.movie {
    position: relative;
    width: 300px;
    float: left;

}

.movie .image {
    height: 23rem;
    width: 17rem;
    border-radius: 5px;
}

.movietitle {
    font-size: 20px;
    letter-spacing: 1px;
}


.movie .heart-icon {
    position: absolute;
    top: 0.7rem;
    right: 2rem;   
}

.movie .ratingbutton {
    display: flex;
    justify-content: space-between;
}



.staricon .rating {
    font-size: 1.2rem;
}

button {
    padding: 1px;
    width: 40%;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    margin: 20px;
    
}

.button .playbutton {
    color: white;
}


/* footer */

.footer {
    
    border-top: 1px solid #F5F5F5;
    background-color:#C1BDBD;
}

.footer-details {
    
    font-size: 15px;
    color:black;
    font-weight: 700;
}

.footer-heading {
    position: absolute;
}

.footer-details p {

    top: 45px;
    position: relative;
    font-size: 20px;
    font-family: 'Arial';
    left: 25px;
}

.footer-details img {
    left: 120px;
    top: -14px;
    width: 3%;
    position: relative;
}

@media screen and (max-width: 1000) {
    .movie-row {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: 44px auto;
        padding-left: 19px;
    }

    
}


@media screen and (max-width: 800px) { 
    .heading-right {
        width:12%;
        border-bottom: 1px solid rgb(253, 251, 249);
        font-size: 1.5rem;
    }

    .heading-right .popular {
        padding-right: 15px;

    }

    .movieslists {
        width: 0px;
        padding-left: 40px;
    }
    .movie-row {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 40px;
    }

    .footer-heading {
        left: 10px;
    }

    .footer-details p {
        left: 0px;
        padding-left: 35px;
    }
    
}


@media screen  and (max-width : 500px) {
     .movie-row {
        grid-template-columns: repeat(1, 1fr);

    }
    .main-heading{
        font-size: 16px;
        bottom: 37px;
    }
    .sub-heading {
        top: 4%;
        font-size: 17px;
        left: 25px;
    }
    .heading-right .popular{
        font-size: 15px;
        margin-left: 7%;
        margin-bottom: 42%;
        position: absolute;
        margin-top: 1%;
    }
    .heading-right .new{
        font-size: 15px;
        margin-left: 34%;
        position: absolute;
        margin-top: 1%;
    }
    .searchBox{
        height: 28px;
        position: absolute;
        top: 1%;
        left: 29%;
    }
    .pointer-image{
        left: 75px;
        top: 7px;
        width: 7%;
    }
    .movie{
        left: 16%;
    }
    .footer-details p{
        left: 0px;
    }
}










































 */ */
